<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alt Front Page</title>
    <link rel="stylesheet" href="../static/graphic.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../static/makemap.js"></script>
    <script src="../static/submit.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">


    <!-- Main Stylesheet & JS -->
    <link rel="stylesheet" href="../static/altMain.css">
    <script src="../static/altMain.js"></script>

    <script>
        let user_input = {
            Zipcodes: false,
            Districts: false,
            Beats: false,
            RecentHomicides: false,
            RecentShootings: false,
            CurrentOutreach: false,
            RiskScores: false,
            TotalWorkers: 0,
            OptimalOutreach: 0
        }

        function printConsole() {
            console.log(user_input);
        }

        function newInput(input_dict) {

        }


    </script>


    <style>
        body {
            margin: 0;
        }
    </style>


</head>
<body>
    <div id="main" class="container-fluid">
        <div class="row">
            <div class="col-md-1" id="title"></div>

            <div class="col-md-3" id="preferences" onclick="printConsole()">
                <div id="preferencesTitle"></div>
                <div class="preferencesSubtitle">Geographic Divisions</div>
                <div id="geoPreferenceContainer">
                    <div class="preferencesOption" id="geoZipcodes">Zip Codes</div>
                    <div class="preferencesOption" id="geoDistricts">Districts</div>
                    <div class="preferencesOption" id="geoBeats">Police Beats</div>
                </div>

                <div class="preferencesSubtitle">Type of Gun Violence Data</div>
                <div class="checkbox">
                    <label class="check-container">Recent Homicides
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="check-container">Recent Shootings
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="check-container">Current Outreach
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label class="check-container">N3 Risk Scores
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="preferencesSubtitle">User Inputs</div>
                <form class="inputBox" style="text-align: center">
                    <label for="totalOutreach" style="margin-top: 10px; color: white">Total Outreach Workers</label>
                    <input type="text" id="totalOutreach" name="tOutreach" onchange="printConsole()">
                    <label for="optOutreach" style="margin-top: 10px; color: white;">Optimal Outreach per Division</label>
                    <input type="text" id="optOutreach" name="oOutreach">
                </form>
                <div id="userInputSubmit">Submit</div>
            </div>

            <div class="col-md-8" id="dashboard">

                <div class="row container" style="margin-top: 10px">
                    <div class="col-md-2 visualAppeal" style="height: 25px; background-color: white;
    border: 1px solid gray;"></div>
                    <div class="col-md-2 visualAppeal" style="height: 25px;
                        background-color: white; border: 1px solid gray;"></div>
                    <div class="col-md-auto offset-md-2">N3 Initiative Demo Dashboard</div>
                </div>

                <div id="mapContainer" class="visualAppeal">
                    <div class="sectionTitle">Map of Chicago - Police Beats</div>
                </div>

                <div class="row" style="margin-top: 10px">
                    <div class="col-md-4">
                        <div class="mapInfo visualAppeal">
                            <div class="sectionTitle">Numerical Identifier</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mapInfo visualAppeal">
                            <div class="sectionTitle">Current Outreach</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mapInfo visualAppeal">
                            <div class="sectionTitle">Census Data</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>