<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gun Violence Allocation Graphic</title>
    <link rel="stylesheet" href="../static/graphic.css">
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../static/makemap.js"></script>
    <script src="../static/submit.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <style>
        body {
            background-color: black;
        }

        .geoOption {
            height: 30px;
            padding-top: 2px;
        }
        .dropdown-item:hover {
            cursor: pointer;
        }
        .active {
            color: #54278f;
        }



    </style>
</head>
<!-- <body onload="renderMap('chicago')"> -->
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #54278f">
        <a class="navbar-brand" href="#">
            <div id="gvLogo"></div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: white;">Chicago Gun Violence Outreach Project <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: lightgray">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: lightgray">Data</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container mt-lg-3" style="padding-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="sidebar-content">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="graphicOptions">
                                <div class="optionText">Select Map Options: </div>
                            </div>
                        </div>

                        <div class="col-md-2-5">
                            <div class="graphicOptions">
                                <div class="btn-group dropright" >
                                    <button type="button" class="btn btn-secondary dropdown-toggle geoOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Geographic Division
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id='policeBeatsOption' onclick="renderChloropleth('policeBeats')">Police Beats</a>
                                        <a class="dropdown-item" id='zipcodesOption' onclick="renderChloropleth('zipcodes')">Zip Codes</a>
                                        <a class="dropdown-item" id="districtsOption" onclick="renderChloropleth('districts')">Districts</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2-5">
                            <div class="graphicOptions">
                                <div class="btn-group dropright" >
                                    <button type="button" class="btn btn-secondary dropdown-toggle geoOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Data Types
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" id='other1' onclick="">Homicides</a>
                                        <a class="dropdown-item" id='other2' onclick="">Shootings</a>
                                        <a class="dropdown-item" id="other3" onclick="">Current Outreach</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="main-content" id="graphicContainer"></div>
            </div>
            <div class="col-md-4">
                <div class="main-content" id="infoDisplay"></div>
            </div>
        </div>
    </div>


</body>
</html>