#title {
    border-radius: 2px;
    background-color: #300053;
}
#preferences {
    height: 100vh;
    background-image: linear-gradient(to bottom, indigo, #9300ff, indigo);
    border-radius: 2px;
}
#dashboard {
    height: 100vh;
    background-color: #bebebe;
    border-radius: 2px;
}
.visualAppeal {
    border-radius: 5px;
}
#mapContainer {
    height: 600px;
    background-color: #ebedee;
    border: 1px solid gray;
    margin-top: 20px;
}
.sectionTitle {
    height: 25px;
    background-color: darkgray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-left: 10px;
    font-weight: bold;
}
.mapInfo {
    height: 200px;
    background-color: #ebedee;
    border: 1px solid gray;
}
#preferencesTitle {
    height: 100px;
    width: 110%;
    margin-left: -15px;
}
.preferencesSubtitle {
    height: 20px;
    background-color: #300053;
    color: white;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
    width: 110%;
    margin-left: -15px;
    margin-top: 10px;
}
.preferencesOption {
    height: 50px;
    border-bottom: 1px solid gray;
    width: 110%;
    margin-left: -15px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}
.preferencesOption:hover {
    background-color: #bebebe;
    cursor: pointer;
    color: black;
    transition: .2s;
}
.checkbox {
    margin-top: 20px;
}
/* The container */
.check-container {
    color: white;
    display: block;
    position: relative;
    text-align: center;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 20px
}
.check-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.check-container input:checked ~ .checkmark {
    background-color: #300053;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 9px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
input[type=text] {
    width: 60%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}
#userInputSubmit {
    height: 30px;
    background-color: #300053;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    padding-top: 3px;
    color: white;
    font-weight: bold;
}
#userInputSubmit:hover {
    cursor: pointer;

}